

<div class="d-flex justify-content-center align-items-center bg-image" style="background-image: url('/assets/images/450_1000.jpg'); min-height: 100vh;">
    <div class="card w-55 w-md-70 rounded overflow-hidden">
        <div class="card-body">
         
            <form class="form-control mx-auto" autocomplete="off" [formGroup]="myForm" (ngSubmit)="update()">           
            <span class="text-center mb-4 custom-font  d-flex align-items-center">
                Actualizar Informacion de Productos
            </span>
            <div class="wrap-input100 p-3 d-flex align-items-center justify-content-center">
                <span class="label-input100">Name</span>
                <input class="input100"
                       type="text"
                       formControlName="name" 
                       placeholder="Ingrese tu Name">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 p-3">
                <span class="label-input100">Price</span>
                <input class="input100"
                       type="number"
                       formControlName="price" 
                       placeholder="Ingrese su Price">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 p-3 d-flex align-items-center justify-content-center">
                <span class="label-input100">Fecha</span>
                <input class="input100"
                       type="datetime-local"
                       formControlName="date" 
                       placeholder="Ingrese su Fecha">
                <span class="focus-input100"></span>
            </div>

            <div class="p-1 d-flex align-items-center justify-content-center">
                <div class="btn btn-primary rounded-pill overflow-hidden shadow-sm">
                    <div class="login100-form-bgbtn"></div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="myForm.invalid">
                        Registrar
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

