<div class="row justify-content-between d-flex flex-wrap text-center mb-1 d-block d-sm-none mb-3">
  <div class="col-4">
    <div class="card h-100" style="background-color:orangered;">
      <div class="card-body d-flex justify-content-center">
       <app-button-product [productButton]= productButton  (show)="showKeyboard($event)"></app-button-product>
      </div>
    </div>
  </div>
  <div class="col-3  d-flex align-items-center" *ngIf="show">
    <div class="card h-100 bs-info-border-subtle" >
      <div class="card-body d-flex justify-content-center">
        <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberHaftth()">
          <p class="text-black">.5</p>
        </button>
      </div>
    </div>
  </div>
  <div class="col-auto  d-flex align-items-center" *ngIf="show">
    <div class="border p-4 bg-white d-block d-sm-none">M:{{numberTotal && price? numberTotal * price : 0}}</div>
  </div>
</div>  

<div class="row justify-content-between d-flex flex-wrap text-center mb-1">
    <div class="col-3 col-md-6 align-items-center  d-none d-md-block">
      <div class="card h-100" style="background-color:orangered;">
        <div class="card-body d-flex justify-content-center">
         <app-button-product [productButton]= productButton  (show)="showKeyboard($event)"></app-button-product>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-auto align-items-center" *ngIf="show">
      <div class="card h-100 bs-info-border-subtle"> 
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer touch-action: manipulation" (click)="numberFirst()">
            <h6 class="text-black">1</h6>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-auto align-items-center" *ngIf="show">
      <div class="card h-100 bs-info-border-subtle">
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberSecond()">
            <h6 class="text-black">2</h6>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-auto align-items-center" *ngIf="show">
      <div class="card h-100 bs-info-border-subtle">
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberThird()">
            <h6 class="text-black">3</h6>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between d-flex flex-wrap text-center mb-1" *ngIf="show">
    <div class="col-3 col-md-6 d-flex align-items-center  d-none d-md-block">
      <div class="border p-4 bg-white d-none d-md-block">M:{{numberTotal && price? numberTotal * price : 0}}</div>
    </div>
    <div class="col-3 col-md-auto align-items-center">
      <div class="card h-100 bs-info-border-subtle" >
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberFourth()">
            <h6 class="text-black">4</h6>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-auto col-sm-1 align-items-center">
      <div class="card  h-100 bs-info-border-subtle" >
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberFiveth()">
            <h6 class="text-black">5</h6>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-auto align-items-center">
      <div class="card h-100 bs-info-border-subtle" >
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberSixth()">
            <h6 class="text-black">6</h6>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between d-flex flex-wrap text-center mb-1" *ngIf="show">
    <div class="col-3 col-md-6 align-items-center  d-none d-md-block">
        <div class="card h-100 bs-info-border-subtle  text-truncate" >
          <div class="card-body d-flex justify-content-center">
            <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberHaftth()">
              <h6 class="text-black">Medio</h6>
            </button>
          </div>
        </div>
    </div>
    <div class="col-3 col-md-auto  align-items-center">
      <div class="card h-100 bs-info-border-subtle" >
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberSeventh()">
            <h6 class="text-black">7</h6>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-auto align-items-center">
      <div class="card h-100 bs-info-border-subtle" >
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberEighth()">
            <h6 class="text-black">8</h6>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-auto align-items-center">
      <div class="card h-100 bs-info-border-subtle" >
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberNineth()">
            <h6 class="text-black">9</h6>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-between d-flex flex-wrap text-center mb-1 align-items-center" *ngIf="show">
    <div class="col-auto col-md-6 d-none d-md-block"></div>
    <div class="col-3 col-md-auto align-items-center">
      <div class="card h-100 bs-info-border-subtle" >
        <div class="card-body d-flex justify-content-center">
          <button type="button" class="btn btn-icon-only cursor-pointer" (click)="numberCeroth()">
            <h6 class="text-black">0</h6>
          </button>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-auto align-items-center">
    </div>
    <div class="col-6 col-md-auto align-items-center">
      <app-modal-confirmation (emptyBox)="onEmptyBox($event)" (numberTotalEmit)="ontotalNumberEmit($event)" (priceEmit)="onpriceEmit($event)" [numberTotal]="numberTotal" [product]="productButton" [price]="price" ></app-modal-confirmation>
    </div>
  </div>
  